/*
    Author: @FrancescoDePatre
    Matricola: 318319
    Università di Parma - Corso di Tecnologie Internet
    Email:  francesco.depatre@studenti.unipr.it
*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.login_page{
    display: flex;
    width: 100%;
    height: fit-content;
    background-image: url("./login_wallpaper.jpeg");
    height: 810px;
    background-position: center top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.login_container{
    margin-top: 130px;
    margin-bottom: 200px;
    background-color: white;
    opacity: 80%;
    margin-left: auto; /* Imposta margin-left a auto per centrare il contenitore orizzontalmente */
    margin-right: auto;
    width: 60%;
    height: 70%;
}

.login_title{
    margin-left: 80px;
    margin-bottom: 20px;
    font-family: 'Signika', sans-serif;
}

.login_usr{
    margin-left: 0px;
    margin-right: 30px;
    font-family: 'Signika', sans-serif;
}

.login_psw{
    margin-left: 0px;
    margin-right: 30px;
    font-family: 'Signika', sans-serif;
}

.username_field{
    margin-left: 100px;
    width: 80%;
    height: 30px;
    font-size: large;
}

.password_field{
    margin-left: 100px;
    width: auto;
    height: 30px;
    font-size: large;
}

.cont1{
    margin-bottom: 50px;
}

.cont2{
    margin-bottom: 50px;
}

.cont1,.cont2,.cont4{
    margin-left: 100px;
}

.cont3{
    display: flex;
    justify-content: space-between 300px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 1px;
    width: 100%;
}

#cancel{
    padding: 10px 10px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 5px;
    border: 2px solid;
    opacity: 100%;
    background-color: white;
}

#login{
    padding: 10px 10px;
    margin-left: 50px;
    margin-right: 200px;
    opacity: 100%;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
    background-color: transparent;
}

#cancel:hover{
    transition: 0.5s;
    background-color: crimson;
}

#login:hover{
    transition: 0.5s;
    background-color: green;
    }

.registration_string{
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-left: 50px;
}

#registration_link{
    font-family: 'Poppins', sans-serif;
    opacity: 100%;
    color: black;
    text-decoration: underline; 
    cursor: pointer; 
}
