/*
    Author: @FrancescoDePatre
    Matricola: 318319
    Università di Parma - Corso di Tecnologie Internet
    Email:  francesco.depatre@studenti.unipr.it
*/
.accountPage{
    display: flex;
    width: 100%;
    height: fit-content;
    background-image: url("../images/accountBackground.jpeg");
    height: 800px;
    background-position: center top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.accountContainer{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    background-color: white;
    opacity: 80%;
}

.accountTitle{
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.accountOptions{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.optionItem{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* da togliere colore ecc... */
.contentContainer{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.800);
}
