/*
    Author: @FrancescoDePatre
    Matricola: 318319
    Università di Parma - Corso di Tecnologie Internet
    Email:  francesco.depatre@studenti.unipr.it
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.defaultPage{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}