/*
    Author: @FrancescoDePatre
    Matricola: 318319
    Università di Parma - Corso di Tecnologie Internet
    Email:  francesco.depatre@studenti.unipr.it
*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.productContainer{
    width: 100%;
    height: fit-content;
}
.productPage{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.productImage,.productContent{
    margin-top: 5%;
    padding: 5%;
}

.productImage{
    width: 40%;
    
}

.productImage img {
    max-width: 100%; 
    height: auto; 
}

.productContent{
    width: 40%;
}

.productTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title,.Price{
    font-family: 'Signika', sans-serif;
}

.Description{
    font-family: 'Poppins', sans-serif;
}
.actionMenu{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.addCart,.Buy{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.addCart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.Buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.addBtn{
    color: white;
    background-color: black;
    border: 0px;
    font-family: 'Signika', sans-serif;
    font-weight: 1000;
    width: 100%;
    height: 200%;
}

.buyBtn{
    color: white;
    background-color: black;
    border: 0px;
    font-family: 'Signika', sans-serif;
    font-weight: 1000;
    width: 100%;
    height: 200%;
}

.buyBtn:hover,.addBtn:hover{
    background-color: rgba(0, 0, 0, 0.423);
}

.SellerInfo{
    font-family: 'Poppins', sans-serif;
}

.av,.few,.sold{
    font-family: 'Poppins', sans-serif;
}

.av{
    color: green;
}

.few{
    color: coral;
}

.sold{
    color: red;
}

td{
    width: 10%;
}

.TableData{
    font-family: 'Signika', sans-serif;
}

.BikeData{
    font-family: 'Poppins', sans-serif;
}

.feedbacks{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Signika', sans-serif;
}