/*
    Author: @FrancescoDePatre
    Matricola: 318319
    Università di Parma - Corso di Tecnologie Internet
    Email:  francesco.depatre@studenti.unipr.it
*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

.transition-enter {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 600ms ease-in, transform 600ms ease-in;
  }
  
  .transition-enter-active {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .transition-exit {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 600ms ease-out, transform 600ms ease-out;
  }
  
  .transition-exit-active {
    opacity: 0;
    transform: translateY(100%);
  }
  
.search_container{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: gray;
    opacity: 100%;
    display: flex;
}

.search_bar{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 100%;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    
}

#delbtn{
    color: white; margin-right: 20px ;
}

#fullWidth{
    font-family: 'Signika', sans-serif;
    background-color: transparent;
    border-color: white;
    color: white;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    margin-right: 20px;
}

#fullWidth:focus{
    background-color: transparent;
    color: white;
    border-color: white;
}

#search_button{
    background-color: transparent;
    color: white;
    margin-left: 20px;
}

#search_button ~ #fullWidth {
    margin-left: 20px;
}